<%
  heatmap_data = GraphHelpers.format_cost_and_usage_for_heat_map(@cost_and_usage)
%>
<section class="container">
  <div class="row">
    <div class="col">
      <h3 class="display-3">Anomalies</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= line_chart(GraphHelpers.format_cost_and_usage_for_chart(@cost_and_usage), points: false, legend: "bottom", xtitle: "Date", ytitle: "Dollars", prefix: "$", thousands: ",", round: 2) %>
    </div>
  </div>

  <!--  <div class="row my-4">-->
  <!--    <div class="col">-->
  <!--      <h4>Heatmap</h4>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row overflow-x-auto">-->
  <!--    <div class="col">-->
  <!--      <table class="table">-->
  <!--        <thead>-->
  <!--        <th></th>-->
  <%# heatmap_data.values.first.map { |data| data[:date] }.each do |date| %>
  <!--          <th scope="col"><%#= date %></th>-->
  <%# end %>
  <!--        </thead>-->

  <!--        <tbody>-->
  <%# heatmap_data.each do |group, group_data| %>
  <!--          <tr>-->
  <!--            <td><%#= group %></td>-->
  <%# group_data.each do |cell| %>
  <!--              <td style="background-color: <%#= cell[:color] %>"><%#= cell[:pct_change].round(2) %>%</td>-->
  <%# end %>
  <!--          </tr>-->
  <%# end %>
  <!--        </tbody>-->
  <!--      </table>-->
  <!--    </div>-->
  <!--  </div>-->
</section>