<%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-block btn-outline-dark', "data-turbo": false do %>
  <div class='d-flex align-items-center justify-content-center'>
    <%= image_tag 'google-logo.svg', height: '18', class: 'mr-2' %>
    <span><%= label %></span>
  </div>
<% end %>